{% extends 'main.html' %}
{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->

      {% include 'base/fields_component.html' %}

      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" alt="User Avatar"/>
            </div>
          </div>
          <div class="profile__info">
            <h3>{{ user.name }}</h3>
            <p>@{{user.username}}</p>
            {% if user == request.user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
            {{user.bio}}
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Rooms Hosted by {{ user.username }}</a>
            </h2>
          </div>
        </div>
        {% include 'base/reusable_feeds.html' %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      <div class="activities">
        <div class="activities__header">
          <h2>Recent Activities</h2>
        </div>
        {% for message in room_messages %}
        <div class="activities__box">
          <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'user-profile' message.user.id %}" class="roomListRoom__author">
              <div class="avatar avatar--small">
                <img src="{{message.user.avatar.url}}" />
              </div>
              <p>
                @{{message.user.username}}
                <span>{{message.created_st | timesince}}</span>
              </p>
            </a>
            {% if user.request == message.user %}
            <div class="roomListRoom__actions">
              <a href="#">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>delete</title>
                  <path
                    d="M30 4h-8v-3c0-0.553-0.447-1-1-1h-10c-0.553 0-1 0.447-1 1v3h-8v2h2v24c0 1.104 0.897 2 2 2h20c1.103 0 2-0.896 2-2v-24h2v-2h-0zM12 2h8v2h-8v-2zM26.002 30l-0.002 1v-1h-20v-24h20v24h0.002z">
                  </path>
                </svg>
              </a>
            </div>
            {% endif %}
          </div>
          <div class="activities__boxContent">
            <p>replied to post “<a href="{% url 'room' message.room.id %}">{{message.room}}</a>”</p>
            <div class="activities__boxRoomContent">
              {{message.text}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Activities End -->
    </div>
  </main>
{% endblock content%}